a {
    text-decoration: none;
    color: inherit;
}

.view {
    border: 0.1rem white solid;
}

.common-border-style {
    box-shadow: 7px 7px 30px yellow; 
}

.header-main {
    display: inline-flex;
    position: relative;
    width: 100%;
}

.company-logo {
    width: 70px;
    height: 70px;
}

.company-name {
    margin-top: auto;
    margin-left: 10px;
    text-align: center;
    font-size: 6svb;
}

.header-button {
    margin-left: auto;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-logo {
    display: inline-flex;
    margin-left: 30px;
    height: 80px;
}

.dropdown-header {
    display: none;
}

@media (max-width: 620px) {
    .header-button {
        display: none;
    }
    .dropdown-header {
        display: block;
    }
}

.common-background {
    background: black;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.dropdownbutton {
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: white;
    border: none;
    margin-left: 20px;
}

.outer-border {
    display: block;
    position: relative;
    margin: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.patrick-hand-regular {
    color: white;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }

.happy-monkey-regular {
    color: white;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

.common-text-style {
    color: white;
    font-weight: 400;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.common-text-style-black {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.common-text-button {
    margin-left: 15px;
    font-weight: 400;
    font-size: 3svb;
    text-decoration: none;
}

.common-text-button:hover {
    color: #969696;
    cursor: pointer;
    transition-duration: 0.1s;
    text-decoration: none;
}

.common-button-style {
    background-color: transparent;
    border: white solid 0.1rem;
    border-radius: 3px;
    color: white;
    width: 100px;
    height: 45px;
}

.common-button-style:hover {
    background-color: #969696;
    cursor: pointer;
    transition-duration: 0.1s;
}

.top-right-image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0,0);
}

.down-left-image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0,0);
}

.divider {
    border: white solid 0.05rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}


.footer-main {
    margin-left: 30px;
    margin-right: 30px;
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fadeInUpLow {
    0% {
      transform: translateY(90%);
      opacity: 0;
    }
    100% {
      transform: translateY(60%);
      opacity: 1;
    }
  }
  
.fade-in-up {
    animation: 1.5s fadeInUp;
  }

.fade-in-up-slow {
    animation: 0.5s fadeInUpLow;
}

.shrink {
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .shrink {
        transform: scale(0.8);
    }
}

@media (max-width: 576px) {
    .shrink {
        transform: scale(0.6);
    }
}

@media (max-width: 360px) {
    .outer-border {
        margin: 0;
    }

    .top-right-image img {
        width: 150px;
        height: 150px;
    }

    .intro-container {
        margin-top: 10px;
        padding-left: 0;
        padding-right: 0;
        font-size: 2svb;
    }

    .dropdownbutton {
        margin-left: 0;
        width: 0;
    }

    .header-logo {
        margin-left: 0;
    }

    .card-button-inner {
        margin-bottom: 10px;
    }

    .card-button {
        margin-bottom: 0;
    }

    .divider {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}