.common-background {
    background: black;
    background-size: cover;
}

.outer-border {
    display: block;
    position: relative;
    border: white solid 0.1rem;
    margin: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-main {
    display: inline-flex;
    position: relative;
    width: 100%;
}

.header-logo {
    display: inline-flex;
    margin-left: 30px;
    height: 80px;
}

.company-logo {
    width: 70px;
    height: 70px;
}

.company-name {
    margin-top: auto;
    margin-left: 10px;
    text-align: center;
    font-size: 6svb;
}

.header-button {
    margin-left: auto;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

header {
    margin-bottom: 100px;
}

.main-post-card {
    align-items: center;
    border: white solid 0.1rem;
    padding: 10px;
}

.main-container {
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}