.outer-container {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px 60px 60px 30px;
}

.card-heading {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-heading p {
    font-size: 6svb;
}

.email-style,
.login-button {
    margin-bottom: 20px;
}

.password-style {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.toggle-password {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.toggle-password svg {
    fill: white;
    margin-bottom: 2px;
}

.email-style, 
.password-style {
    position: relative;
}

.email-input ,
.password-input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.15rem white solid;
}

.line-between {
    border: 0.05rem white solid;
    width: 80%;
}

.emaillogin {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.emaillogin a {
    text-decoration: none;
}

@media (max-width: 360px) {
    .inner-container {
        height: 60%;
    }
}